.welcome-container {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(var(--ion-color-primary-rgb), 0.1);
}

.welcome-container h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--ion-color-primary);
}